html {
  background-image: linear-gradient(to right, #3da9fc, #90b4ce);
  background-repeat: repeat;
  background-size: cover;
  font-family: Arial;
  font-size: .625rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 2.5rem solid white;
  border-radius: 50%;
  margin: 6.25rem auto;
  position: relative;
  padding: 2rem;
  box-shadow:
    0 0 0 .25rem rgba(0,0,0,0.1),
    inset 0 0 0 .375rem #EFEFEF,
    inset 0 0 1.25rem black,
    0 0 1.25rem rgba(0,0,0,0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: .375rem;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: none;
  transition-timing-function: cubic-bezier(0.29, 0.83, 0.58, 1);
}